.container {
   display: flex;
   padding: 20px;
  justify-content: space-between;
  margin-left: 0 !important;
  max-width: 750px !important;
}
.email{
  left: 10px;
  right: 50px; 
}
.entrar{
 
  height: 38px;
  margin-top: 35px; 
}
  .nlogin{
   left: 10px;
    text-align:20px;
    height: 48px;
    margin-top: 30px; 
    
  }
  .senha{
    margin-top: 8px;
  }
  .sok{
   margin-top: 30px;
   height: 50px;
  }